.login {
    background: #f3f3f3;
  }
  .loginBoxHeight {
    margin: 75px 0 0 0;
  }
  .loginbox {
    padding: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.16),
      0px 0px 0px 0px rgba(0, 0, 0, 0.23);
    font-size: 12px;
  }
  .loginBoxHeading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    color: #4a4a4a;
    font-family: Roboto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .loginBoxTextRight {
    text-align: right;
  }
  .loginBoxTextCenter {
    text-align: center;
  }
  .loginBtn {
    background: #3284c7;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
  }
  .login-error-msg {
    color: red;
    font-size: 12px;
    margin: -10px 0 5px 0;
  }
  .routeLink:hover {
    cursor: pointer;
  }
  .block {
    background: #3284c7;
    color: #fff;
    display: block;
    width: 100%;
    border: none;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .block:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
  
  .loginbox .field-label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  